extends ../layout/adminLayout
block Content
    .content_container
      .groups_container 
          .create_group_button_container
            h3.groups_title Crear Grupo
            form#create_group_form(method="POST" action="") 
              .create_group_field 
                  label.add_user_label(for="nombreGrupo") Nombre:
                  input.add_user_input#nombreGrupo(type="text" name="nombreGrupo" placeholder="ej: 5A" ) 
              .create_groups_button_container 
                  button.forms_button(type="submit") Crear
          .groups_table_container
            h3.groups_title Grupos Actuales
            table#groups_table.table.display.cell-border.hover.row-border(style="width: 45rem")
              thead
                tr
                  th Grupo
                  th Acciones
              tbody
    script(src="/api/groups.js") 