body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  background-color: #f9f9f9;
}

h1 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.is-required {
  content: "*";
  margin-left: 3px;
  color: red;
  font-weight: bold;
}

.botones {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.regresar {
  margin-top: 10px;
  margin-left: 20px;
  outline: none;
  border: solid 1px #999;
  border-radius: 3px;
  background-color: #1ab192;
  height: 40px;
  width: 80px;
  transform: scale(1.1);
  cursor: pointer;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
}

.regresar2 {
  margin-top: 10px; /* Adjust this value to match the margin-top of the first button */
  margin-left: auto;
  margin-right: 20px;
  outline: none;
  border: solid 1px #999;
  border-radius: 3px;
  background-color: #1ab192;
  height: 40px;
  width: 80px;
  transform: scale(1.1);
  cursor: pointer;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
}

.regresar-image {
  height: 25px;
  width: 25px;
}

header {
  background-color: #1ab192;
  height: 100px;
  margin-top: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.logo img {
  height: 110px;
  border-top: 10px solid white;
  border-bottom: 10px solid white;
  border-left: 10px solid white;
  border-right: 10px solid white;
}

footer {
  background-color: black;
  color: white;
  text-align: center;
  padding: 10px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  width: 350px;
  height: 400px;
  margin: 10px;
  margin-right: 25px;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
  transform: perspective(800px);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease;
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* .card .image-section {
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
} */

.card:hover {
  transform: scale(1.15);
}

.card:nth-child(1) .image-section {
  background-color: #def6fc;
}

.card:nth-child(2) .image-section {
  background-color: #fede77;
}

.card:nth-child(3) .image-section {
  background-color: #5dffe8;
}

.card:nth-child(4) .image-section {
  background-color: #fd8087;
}

.card .bottom-section {
  height: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  overflow: hidden;
}

.card .bottom-section h2 {
  font-size: 28px;
  text-align: center;
  font-weight: bold;
  font-family: sans-serif;
  margin: 0;
  position: absolute;
}

.card .image-section img {
  max-width: 100%;
  max-height: 100%;
}

.card .bottom-section h2.arriba {
  bottom: 70px;
}

.card .bottom-section h2.abajo {
  bottom: 40px;
}

/* Estilos para el formulario */

.containerform {
  display: flex;
  justify-content: center;
}

form {
  width: 1050px;
  height: 435px;
  border-radius: 10px;
  margin-bottom: 100px;
  background-color: #f9f9f9;
  padding: 20px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-areas:
    "input1 input2 input3 input4"
    "input5 input6 input7 input8"
    "input9 input10 input11 input12"
    "botondiv botondiv botondiv botondiv";
  grid-gap: 20px;
}

.formgrande {
  width: 1050px;
  height: 520px;
  border-radius: 10px;
  background-color: #f9f9f9;
  padding: 20px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-areas:
    "input1 input2 input3 input4"
    "input5 input6 input7 input8"
    "input9 input10 input11 input12"
    "input13 input14 input15 input16"
    "botondiv botondiv botondiv botondiv";
  grid-gap: 20px;
}

.row {
  display: flex;
  flex-direction: column;
  padding-top: 30px;
}

.row label {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 5px;
}

.input-field {
  outline: none;
  border: solid 1px #999;
  padding: 10px;
  border-radius: 3px;
}

.input-field:focus {
  border-color: #1ab192;
}

#input7 {
  width: 240px; /* Puedes ajustar este valor según tus necesidades */
}

#input1 {
  width: 240px; /* Puedes ajustar este valor según tus necesidades */
}

.botondiv {
  margin-top: 20px;
  grid-area: botondiv; /* Alinear el botón en la cuarta columna */
  justify-self: end; /* Alinear el contenido del div a la derecha */
  margin-left: auto; /* Alinear el botón a la derecha */
}

.submit-button {
  background-color: #1ab192;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

/* Estilo para la vista de celular */
@media only screen and (max-width: 768px) {
  main {
    margin-top: 20px;
    padding: 10px;
    flex-direction: column;
    margin-bottom: 20px;
  }

  h1 {
    margin-top: 20px;
  }

  .regresar {
    margin-top: 40px;
  }

  .regresar2 {
    margin-top: 40px;
  }

  .card {
    width: 300px;
    height: 350px;
    margin: 10px 0;
    position: relative;
    color: black;
  }

  .card .bottom-section {
    height: 100%;
    padding: 10px;
  }

  .card .bottom-section a {
    text-decoration: none;
  }

  .card:hover {
    transform: scale(1.05);
  }

  .card .bottom-section h2 {
    position: relative;
    font-size: 24px;
    margin-bottom: 10px;
  }

  .card .bottom-section h2.arriba {
    bottom: 120px;
  }

  .card .bottom-section h2.abajo {
    bottom: 125px;
  }

  form {
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: 20px; /* Margen izquierdo de 20px */
    margin-right: 20px; /* Margen derecho de 20px */
    width: calc(
      100% - 40px
    ); /* Restar los márgenes izquierdo y derecho para mantener el ancho */
    height: auto;
    border: 1px solid #999;
    padding: 10px;
    grid-template-columns: 1fr; /* Mostrar los inputs en una sola columna */
    grid-template-areas:
      "input1"
      "input2"
      "input3"
      "input4"
      "input5"
      "input6"
      "input7"
      "input8"
      "input9"
      "input10"
      "input11"
      "input12"
      "botondiv"; /* Colocar el botón debajo de los inputs */
    grid-gap: 10px;
  }

  .formgrande {
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: 20px; /* Margen izquierdo de 20px */
    margin-right: 20px; /* Margen derecho de 20px */
    width: calc(
      100% - 40px
    ); /* Restar los márgenes izquierdo y derecho para mantener el ancho */
    height: auto;
    border: 1px solid #999;
    padding: 10px;
    grid-template-columns: 1fr; /* Mostrar los inputs en una sola columna */
    grid-template-areas:
      "input1"
      "input2"
      "input3"
      "input4"
      "input5"
      "input6"
      "input7"
      "input8"
      "input9"
      "input10"
      "input11"
      "input12"
      "input13"
      "input14"
      "input15"
      "input16"
      "botondiv"; /* Colocar el botón debajo de los inputs */
    grid-gap: 10px;
  }

  .row {
    margin-bottom: 10px;
  }

  #input7 {
    width: 330px; /* Puedes ajustar este valor según tus necesidades */
  }

  #input1 {
    width: 330px; /* Puedes ajustar este valor según tus necesidades */
  }

  .botondiv {
    grid-column: 1;
    justify-self: end; /* Alinear el botón a la derecha */
    margin-right: 20px;
    margin-bottom: 20px;
  }
}
