extends ./layout/index

block contenido
    section.container 
    br
    br
    h2 Alumnos Citados
    table
        thead
            tr
            th Nombre del Alumno
            th Carrera
            th Área
            th Número de Citas
            th Nivel Escolar
            th Estado de Cita
            th Acciones
        tbody
            tr
                td 
                td 
                td 
                td
                td 
                td
                button.editar(type='button') Modificar
                button.eliminar(type='button') Eliminar

