@use "../../base/variables" as v;
@use "../../base/mixins" as m;

.create_group_button_container {
  padding: 2rem;
  width: 45rem;
  background-color: v.$login_color;
  border: 1.5px solid v.$structure_border;
  margin-bottom: 4rem;
}

.groups_title {
  font-size: 2.5rem;
  margin-bottom: 2.5rem;
}

.create_group_field {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  margin-bottom: 1rem;
  gap: 1rem;
}

.create_groups_button_container {
  display: flex;
  justify-content: end;
  align-items: center;
}

.show_students_container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 2rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  z-index: 2;
  font-size: 1.6rem;
  width: 60%;
}
